body{
    margin: 60px;
    background-color: antiquewhite;
}
#heading{
    font-size: xx-large;
    color: rgb(119, 119, 126);
}
p{
    font-size: x-large;
    line-height: 40px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    
}
.points{
    margin:50px;
    font-size: x-large;

}